beautifulsoup4==4.12.3
colbert==0.30
evaluate==0.4.1
litellm==0.1.236
matplotlib==3.5.3
numpy==1.21.6
pandas==1.3.5
pandas_stubs==1.2.0.62
pyserini==0.9.4.0
python-dotenv==1.0.1
Requests==2.31.0
rouge==1.0.1
tqdm==4.66.1
transformers==4.30.2
word2number==1.1
zeno_client==0.1.16
